@use 'sass:map';
@import 'variables';

@media screen and (min-width: 10px) {
  .hero-image {
    flex: 1;
  }
  .instructions {
    margin: 0;
    padding: 1rem;
  }
  .settings-container {
    display: grid;
    grid-template-columns: 1fr auto
  }
  .switch {
    padding-right: 1.2rem;
  }
  .switch-container {
    display: flex;
    padding: 1rem 0;
    align-items: center;

    &--top {
      align-items: flex-start;
      padding: 0;
    }
  }

  .desc {
    margin: 0;
    padding: 1rem;
    font-family: map-get($map: $fonts, $key: 'desc');

    &--home {
      padding-top: 0;
    }
    &--switch {
      padding: 0 1rem;
    }
    &--italic {
      font-style: italic;
    }
    &--link {
      padding: 0;
      color: inherit;
      text-decoration-thickness: 1px;

      &:hover {
        color: white;
      }
    }
    &--day {
      padding: 0.5em 0 0.5em 2.5em;
    }
    &--desktop {
      font-size: 0.8rem;
    }
    &--tight {
      padding: 0 1rem;
    }
    &--guide {
      display: none;
    }
    &--small-phone {
      display: none;
    }
    &--copyright {
      padding-top: 0;
      padding-bottom: 0;
      color: inherit;
    }
  }

  .no-grid {
    background-color: var(--theme-trans);
    display: flex !important;
    align-items: flex-end;
  }
  .inner-prayer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}
@media screen and (min-width: 370px) {
  .desc {
    &--small-phone {
      display: block;
    }
    &--guide {
      display: block;
      text-align: center;
      font-size: 1.2rem;
    }
    &--day {
      font-size: 1.2rem;
    }
  }
}
