@use 'sass:map';

@import 'variables';

@media screen and (min-width: 10px) {
  // .mysteries {
  //   flex: 1;
  //   display: flex;
  //   flex-direction: column;
  //   overflow: hidden;
  // }
  .mystery {
    margin: 0;
    padding-left: 2rem;
    font-size: 2rem;
    font-family: map-get($map: $fonts, $key: 'heading');
  }
  .link {
    flex: 1;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    text-decoration: none;
    color: inherit;
    padding-top: 0.5em;
    margin: 0;
    transition: transform .2s;

    &:hover, &:active {
      background-color: $purple-light;
    }
  }
  .loading {
    font-family: map-get($map: $fonts, $key: 'desc');
  }
}

// Show / hide days

// @media screen and (min-height: 560px) {
//   .desc--day {
//     display: none;
//   }
// }

@media screen and (min-width: 768px) {
  .link {
    grid-template: 1fr / 1fr 2fr;
  }
}

// @use 'sass:map';

// @import 'variables';

// @media screen and (min-width: 10px) {
//   #mysteries-nav {
//     display: grid;
//     grid-template-rows: auto repeat(4, 22vh);
//     width: 100%;
//   }
//   .mystery {
//     margin: 0;
//     font-size: 2rem;
//     padding: 1rem 0 0 1rem;
//     font-family: map-get($map: $fonts, $key: 'heading');
//   }
//   .link {
//     display: grid;
//     grid-template: 1fr / 1fr 1fr;
//     text-decoration: none;
//     color: inherit;
//     margin: 0;

//     &:hover, &:active {
//       background-color: $purple-light;
//     }
//   }
//   .loading {
//     font-family: map-get($map: $fonts, $key: 'desc');
//   }
//   .image-icon {
//     object-fit: cover;
//     object-position: center top;
//     width: 100%;
//     max-height: 100%;

//     &--ipad {
//       display: none;
//     }
//   }
// }

// @media screen and (min-width: 768px) {
//   .link {
//     grid-template: 1fr / 1fr 2fr;
//   }
//   .image-icon {
//     grid-column: 2 / -1;

//     &--ipad {
//       display: block;
//     }
//   }
//   .mystery {
//     padding-left: 1.5rem;

//     & ~ .desc--day {
//       padding-left: 2.5em;
//     }
//   }
// }
