@use 'sass:map';
@import 'variables';

.verse {
  margin-top: 14%;
  z-index: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
  background-color: rgba(150, 125, 180, 0.75);
}

.btn {
  font-family: map-get($map: $fonts, $key: 'desc');
  font-size: 1.5rem;
  color: white;
  background-color: $purple-dark;
  border: none;
  cursor: pointer;

  &:hover, &:active {
    background-color: $purple-light;
  }
  width: 50%;
  margin: 1rem;
  padding: 1rem;
  border-radius: 20px;
  border: 5px solid white;

  &--container {
    display: flex;
    justify-content: center;
  }
}
.sticky--top {
  -webkit-transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 0rem;
  z-index: 2;
}
.sticky--bottom {
  -webkit-transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0rem;
  z-index: 1;
  padding-bottom: 1rem;
}
.hail-mary-number {
  margin: 0 1rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  &__text {
    margin: 0;
    border-radius: 50%;
    background-color: $purple-dark;
    color: white;
    font-family: 'Avenir', sans-serif;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    > p {
      margin: 0;
      font-weight: bold;
    }
  }
}
