@use 'sass:map';

@import 'variables';

@media screen and (min-width: 10px) {
  .title {
    margin: 0;
    padding: 1rem;
    font-size: 2rem;
    font-family: map-get($map: $fonts, $key: 'heading');

    &--small {
      font-size: 1.5rem;
    }
  }

  .hero-image {
    flex: 1;
  }

  .instructions {
    margin: 0;
    padding: 1rem;
  }

  .desc {
    margin: 0;
    padding: 1rem;
    font-family: map-get($map: $fonts, $key: 'desc');

    &--italic {
      font-style: italic;
    }
  }
}
