@use 'sass:map';
@import 'variables';

.btn {
  font-size: 18px;
  font-family: map-get($map: $fonts, $key: 'btn');
  padding: 2rem;
  color: white;
  background-color: #6A5188;
  border: none;
  cursor: pointer;
  
}
.stated-mystery {
  padding: 0 1rem;
  text-align: center;
}

// background-color: #8C54D0;
// background-color: #6A5188;
