$fonts: (
  'heading': ('Satisfy', 'Dancing Script', 'cursive', 'Arial', 'sans-serif'),
  'btn': ('Candara', 'cursive', 'Arial', 'sans-serif'),
  'desc': ('Karla', 'Geneva', 'sans-serif'),
);
$purple-light: #967db4;
$purple-dark: #6A5188;
$purple-darker: #3b2d4d;

$tablet: 750px;
