@import './components';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
  color: black;
}
html {
  font-size: 15px;
}

.dark-mode {
  background-color: $purple-darker;
  color: whitesmoke;
}

// Main styles used throughout out app

@function vh($quantity) {
  @return calc(var(--vh, 1vh) * #{$quantity});
}

.scroll-container {
  height: vh(100);
  // height: calc(100vh - calc(100vh - 100%));
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.container {
  height: vh(100);
  // height: calc(100vh - calc(100vh - 100%));
  width: 100vw;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  > * {
    opacity: 0;
    transform: translate3d(0, 1rem, 0);
    transition: opacity 800ms var(--delay),
      transform 800ms cubic-bezier(0.13, 0.07, 0.26, 0.99) var(--delay);
  }
}

.is-visible > * {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.prayer {
  padding: 0 1rem 1rem 1rem;
  margin: 0;
  font-family: map-get($map: $fonts, $key: 'desc');
  font-size: 1rem;

  &--top {
    padding-top: 1rem;
  }
  &--tight {
    white-space: pre-wrap;
  }
}

@media screen and (min-width: 400px), (min-height: 700px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 750px) {
  html {
    font-size: 24px;
  }
  // Formats prayers for better view on tablet
  .prayer--section {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 30px;
  }
}