body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

// Base Styles

// Cell Phone - Portrait
@media screen and (min-width: 10px) {
  .title {
    // flex: 0 1 auto;
    margin: 0;
    padding: 1rem;
    font-size: 2rem;
    font-family: 'Satisfy', 'Dancing Script', 'cursive', 'Arial', 'sans-serif';

    &--small {
      font-size: 1.5rem;
      // border-bottom: 2px solid #000
    }
  }

  .hero-image {
    flex: 1;
  }

  .description {
    margin: 0;
    padding: 0 1rem 1rem 1rem;
    font-size: 1.2rem;

    &--day {
      padding: 0 0 0.5rem 3rem;
    }
  }
  
  .container {
    // background-color: #8C54D0;
    // background-color: #6A5188;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    scroll-snap-align: center; 
  }
  
  .mysteries {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .link {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    justify-content: center;

    &:hover {
      background-color: #9E94AA;
    }
  }

  .mystery {
    margin: 0;
    margin-bottom: 2%;
    padding-left: 2rem;
    font-size: 2rem;
    font-family: 'Satisfy', 'Dancing Script', 'cursive', 'Arial', 'sans-serif';
  }
}
