// Cell Phone - Portrait
@media screen and (min-width: 10px) {
  .title {
    margin: 0;
    padding: 1rem;
    font-size: 2rem;
    font-family: 'Satisfy', 'Dancing Script', 'cursive', 'Arial', 'sans-serif';

    &--small {
      font-size: 1.5rem;
    }
  }

  .hero-image {
    flex: 1;
  }

  .description {
    margin: 0;
    padding: 0 1rem 1rem 1rem;
    font-size: 1.2rem;
  }
}
